<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola</h1>
    <script>
        alert("Dale enter crack");

let objeto = prompt("Digite el peso del objeto");

let PesoTierra = objeto * 9.807;
let PesoLuna = objeto * 3.721;
let PesoMarte = objeto * 1.62;

alert("El peso del objeto en la tierra es de: "+PesoTierra);
alert("El peso del objeto en marte es de: "+PesoMarte);
alert("El peso del objeto en la luna es de: "+PesoLuna);
    </script>
</body>
</html>